<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <location path="CustMaster.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, normal-user"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="GoodsIssue.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,normal-user"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>   
  <location path="GoodsReceipt.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,normal-user"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ItmCategoryMaster.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,normal-user"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="LoadImage.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,normal-user"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="LocMaster.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,normal-user"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SkuMaster.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,normal-user"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="StockMovementReport.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,normal-user"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="StockMovementSummaryReport.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,normal-user"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SupMaster.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,normal-user"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
