<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ContractQutoteAttachmentsFolder" value="ContractQutoteAttachments\" />
    <add key="UploadPath" value="Uploadedfiles" />    
    <add key="DB_Username" value="sa" />
    <add key="DB_Password" value="B1Admin" />
    <add key="DB_Server" value="LAPTOP-JN2PNONG" />
    <add key="Company_DB" value="MyItems" />
  </appSettings>
  <connectionStrings>
    <add name="Custom_CRM_DB_ConnectionString" connectionString="Server=LAPTOP-JN2PNONG;Database=MyItems;User Id=sa;Password=B1Admin;" providerName="System.Data.SqlClient" />
    <add name="SAP_DB_ConnectionString" connectionString="Server=LAPTOP-JN2PNONG;Database=SBODemoSG;User Id=sa;Password=B1Admin;" providerName="System.Data.SqlClient" />
    <add name="Custom_CRM_DB_ConnectionString_ADODB" connectionString="Provider=SQLOLEDB.1;server=LAPTOP-JN2PNONG;Database=MyItems;Uid=sa;password=B1Admin" providerName="System.Data.SqlClient" />
    <add name="SAP_DB_ConnectionString_ADODB" connectionString="Provider=SQLOLEDB.1;server=LAPTOP-JN2PNONG;Database=SBODemoSG;Uid=sa;password=B1Admin" providerName="System.Data.SqlClient" />
    <remove name="LocalMySqlServer" /><add connectionString="" name="LocalMySqlServer" providerName="MySql.Data.MySqlClient" /></connectionStrings>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="iismediafire@gmail.com">
        <network
           host="smtp.gmail.com"
           port="587"
           enableSsl="true"
           userName="iismediafire@gmail.com"
           password="99@lokyang"
           defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="30000" executionTimeout="600" requestLengthDiskThreshold="290000" />
    <sessionState mode="InProc" timeout="1440" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">     
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="1440" cookieless="UseCookies" defaultUrl="Default.aspx" name="TEST1" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <membership defaultProvider="Custom_CRM_MembershipProvider" userIsOnlineTimeWindow="2">
      <providers>
        <clear />
        <add name="Custom_CRM_MembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Custom_CRM_DB_ConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile enabled="true" defaultProvider="AspNetSqlProfileProvider">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="Custom_CRM_DB_ConnectionString" applicationName="/" />
      </providers>
      <properties>
        <add name="SalesPersons" />
      </properties>
    </profile>
    <roleManager enabled="true" defaultProvider="RoleManager">
      <providers>
        <clear />
        <add name="RoleManager" type="System.Web.Security.SqlRoleProvider" connectionStringName="Custom_CRM_DB_ConnectionString" applicationName="/" />
        <!--<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>-->
      </providers>
    </roleManager>
    <siteMap defaultProvider="myMenuSiteMap" enabled="true">
      <providers>
        <clear />
        <add name="myMenuSiteMap" description="Menu SiteMap provider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>    
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="400" subStatusCode="0" />
      <error statusCode="400" subStatusCode="0" prefixLanguageFilePath="" path="/InventorySystem/SomethingWentWrong.aspx" responseMode="Redirect" />
    </httpErrors>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>