<?xml version="1.0"?>
<configuration>
    <system.web>

    </system.web>
  <location path="Wss.asmx">
    <system.web>
      <pages validateRequest="false" />
      <httpRuntime requestValidationMode="2.0" />
      <webServices>
        <protocols>         
          <add name="HttpPost"/>
          <add name="HttpGet"/>
        </protocols>
      </webServices>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>  
</configuration>

